<%= form_for(@inv_tran, method: :post, url:inv_inv_trans_path(params[:inv_id])) do |f| %>
  <% if @inv_tran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inv_tran.errors.count, "error") %> prohibited this inv_tran from being saved:</h2>

      <ul>
      <% @inv_tran.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :transaction_desc %><br>
    <%= f.text_field :transaction_desc %>
  </div>
  <div class="field">
    <%= f.label :transaction_date %><br>
    <%= f.date_select :transaction_date %>
  </div>
  <div class="field">
    <%= f.label :inv_id %><br>
    <%= f.number_field :inv_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
