<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar" id="navSidebar">
        <li class="active" id= "overview_link"><a href="#recent_activities">Recent Activities</a></li>
        <li id="report_link"><a href="#month_year_selector">Cash Flow Report</a></li>
        <li id="investments_link"><a href="#investments_display">All Investments<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="main">
      <h2 class="sub-header" align="left" id="recent_activities">Recent Activities</h2>
      <div class="container" >
        <div class="col-md-12">
          <div class="well">

            <% if @last8Invs.length > 0 %>
              <!--begin myCarousel -->
              <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <!-- display active item -->
                  <% currentIndex = 0 %>
                  <div class="item active">
                    <div class="row">
                      <% while currentIndex < 4 and currentIndex < @last8Invs.length %>
                        <div class="col-sm-3">
                          <%= link_to user_inv_path(current_user,@last8Invs[currentIndex]) do %>
                            <% if @last8Invs[currentIndex].image.exists? %>
                              <%= image_tag(@last8Invs[currentIndex].image.url(:medium),class: "img-responsive")	%>
                            <% else %>
                              <%= image_tag("http://placehold.it/300x225",class: "img-responsive") %>
                            <% end %> 
                            <p align="center"> <%= @last8Invs[currentIndex].inv_desc %></p>
                          <% end %>
                        </div>
                        <% currentIndex = currentIndex + 1 %>
                      <% end %>
                    </div>
                  </div>
                  <!-- end display active items -->
                  <!-- defining inactive items -->
                  <div class="item inactive"> 
                    <div class="row">
                      <% while currentIndex < 8 and currentIndex < @last8Invs.length %>
                        <div class="col-sm-3">
                          <%= link_to user_inv_path(current_user,@last8Invs[currentIndex]) do %>
                            <% if @last8Invs[currentIndex].image.exists? %>
                              <%= image_tag(@last8Invs[currentIndex].image.url(:medium),size: "250x250",class: "img-responsive") %>
                            <% else %>
                              <%= image_tag("http://placehold.it/300x225",class: "img-responsive") %>
                            <% end %> 
                            <p align="center"> <%= @last8Invs[currentIndex].inv_desc %></p>
                          <% end %>
                        </div>
                        <% currentIndex = currentIndex + 1 %>
                      <% end %>
                    </div>
                  </div> 
                  <!-- end defining inactive items -->
                </div> <!-- end carousel-inner -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div> <!-- end myCarousel -->

            <% else %>
              <p align = "center"> No Existing Transactions </p>
            <% end %>
          </div> <!-- end well -->
        </div>
      </div>

      <h2 class="sub-header" id="month_year_selector">Cash Flow for 
        <%= select_month(Date.today, options = {},
                         html_options = {:onchange => "updateCashFlow($('#date_year option:selected').val(), $('#date_month option:selected').val())"}) %>
                         <%= select_year(Date.today, options = {start_year: 2000, end_year: 2020},html_options = {:onchange => "updateCashFlow($('#date_year option:selected').val(), $('#date_month option:selected').val())"}) %>
                       </h2>
                       <% @currentMonthTrans = InvTran.getMonthOfYearTrans(current_user, Date.today.month, Date.today.year) %>
                       <% @income=0 %>
                       <% @expense=0 %>
                       <%	@net=0 %>
                       <%	@currentMonthTrans.each do |tran| %>
                         <%		if(tran.amount >= 0) %>
                           <%			@income += tran.amount%>
                         <%		else %>
                           <%			@expense += tran.amount %>
                         <%		end %>
                         <%		@net= @income + @expense %>
                       <%	end %> 
                       <div class="table-responsive">
                         <table class="table table-striped" id="cash_flow_table">
                           <thead>
                             <tr>
                               <th>Income</th>
                               <th>Expense</th>
                               <th>Net</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td id="monthly_income"><%= @income %></td>
                               <td id="monthly_expense"><%= @expense %> </td>
                               <td id="monthly_net"><%= @net %></td>
                             </tr>
                           </tbody>
                         </table>
                       </div>

                       <h2 class="sub-header" id="investments_display">Investments <%= link_to(content_tag(:button, "New", class: "btn btn-primary"),new_user_inv_path) %></h2>
                       <div class="table-responsive" id="invs_all">
                         <table class="table table-striped">
                           <thead>
                             <tr>
                               <th>#</th>
                               <th>Investment desc</th>
                               <th>Net Flow</th>
                               <th colspan="1"></th>
                             </tr>
                           </thead>
                           <tbody>
                             <% num=1 %>
                             <% @invs.each do |investment| %>
                               <tr>
                                 <td><%= num %></td>
                                 <td><%= investment.inv_desc %></td>
                                 <td><%= investment.inv_trans.sum("amount") %></td>
                                 <td><%= link_to 'Details', user_inv_path(current_user, investment)%></td>
                                 <% num = num + 1 %>
                               </tr>
                             <% end %>
                           </tbody>
                         </table>
                       </div>
                     </div>
                   </div>
                 </div>

